/* :folding=explicit: */

* {
	padding:0;
	margin:0;
}
body {
	background:#fff;
	color:#000;
	font:13px Trebuchet MS, Arial, Tahoma, Verdana;
}
.clear {
	clear:both;
}

#overlay, .overlay {
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	text-align:center;
	z-index: 1000;
	background-image:url(background-trans.png);
}

.spoiler .toggler {
	margin: 10px;
	margin-bottom: 0;
	width: 200px;
	cursor: pointer;
}
.spoiler .toggler:before {
	color: #888;
	content: 'Спойлер: '
}

.spoiler .hidden_text {
	border: 1px dashed #000;
	color: #678;
	padding: 10px;
	margin: 10px;
	margin-top: 0;
}

blockquote {
	border-left: 5px solid #ddd;
	padding-left: 10px;
	margin-left: 0;
}

ul {
	margin-left:0;
	padding-left:0;
}

.bb-code {
	background: #000;
	color: #ddd;
}

.wysiwyg-mode .bb-media {
	background: #ddd;
	border: 1px dotted #777;
	width: 200px;
	height: 170px;
	float: left;
	margin: 10px;
}

.wysiwyg-mode .bb-hide {
	border: 1px dotted #77f;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wysiwyg-mode .bb-hide:before {
	color: #888;
	content: 'Скрытый контент: '
}
