/* :folding=explicit: */

body {
	color: #000;
	background: #fff;
	font-family: Verdana,Tahoma,Helvetica,Arial,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:normal;
}
